.divider {
    height: 1px;
    width: 100%;
    background-color: #484848;
    margin-top: 8px;
}

.title_container {
    padding: 20px 20px;
}

.title {
    font: 28px "Comic Sans MS";
    color: white;
    margin: 0;
}

.toolbar {
    display: flex;
    user-select: none;
    font: 14px cursive;
    margin: 0 0 0 20px;
}

.toolbar_button {
    display: flex;
    cursor: pointer;
    align-items: center;
    background: #DEDEDE;
    color: black;
    padding: 12px 18px;
    border-width: 1px;
    border-color: #CCC;
    margin: 2px 0 2px 2px;
}

.toolbar_button:hover {
    background: #CCC;
}

.toolbar_button:first-child {
    margin-left: 0;
}

.canvas_container {
    display: flex;
    margin-top: 16px;
}

.canvas {
    margin: auto;
    background-color: greenyellow;
}