.SelectSizePopup-out {
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #00000042;
    position: absolute;
}

.SelectSizePopup {
    margin: 48px auto 0 auto;;
    position: relative;
    width: fit-content;
    background: white;
    vertical-align: bottom;
    text-align: end;
    padding: 24px;
    border-radius: 16px;
}

.SelectSizePopup-title {
    margin: 0;
    padding: 0 8px 16px 4px;
    text-align: start;
    font: 700 20px cursive;
}

.SelectSizePopup-size {
    margin: auto auto 0 auto;
}

.SelectSizePopup-buttonWrapper {
    display: inline-block;
    margin-top: 16px;
}

label {
    position: absolute;
    top: 0;
    font-size: var(--font-size-small);
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}
   
input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(-8px);
}
