.Tools-container {
    display: grid;
    margin: 8px;
    padding: 8px;
    background: #E0E0E0;
    width: fit-content;
}

.Tools-default {
    margin-left: 0;
}

.Tools-selected {
    margin-left: 0;
    background: #e254ff;
}

.Tools-selected:hover {
    margin-left: 0;
    background: #e254ff;
}
