.ObjectParams {
    display: flex;
    position: fixed;
    margin: 0 0 8px 8px;
    align-content: center;
    bottom: 0;
    padding: 16px;
    min-width: 100px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.2);
    backdrop-filter: blur(10.0px);
    -webkit-backdrop-filter: blur( 10.0px);
    border-radius: 16px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.ParamsList {
    margin: 0 4px;
}